@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin: 0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 48px;
}

p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  color: white;
}

.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.flex {
  /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}




/*this is the home contact header file */
/*header*/


:root {
  --primary-color: hsl(0, 0%, 100%);
  --primary-color-alt: hsl(28, 72%, 83%);
  --second-color: #3e537c;
  --second-color-alt: hsla(220, 33%, 36%, 65%);
  --third-color: hsl(220, 36%, 28%);
  --white-color: #fbfbfb;
  --white-color-alt: hsl(12, 14%, 93%);

}

/* ================= BASE ==================== */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.bx {
  font-size: 2.5rem;
}

.container {
  padding: 0 2rem;
}

/* -- BODY -- */
body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  background-color: var(--white-color);
  box-sizing: border-box;
}

/* ================= HEADER ================ */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-color);
  padding: 1rem 2rem;
}

.company-logo {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(120deg,
      var(--primary-color-alt),
      var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-items {
  display: flex;
}

.nav-item {
  margin: 0 2rem;
}

.nav-link {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: -webkit-linear-gradient(var(--primary-color-alt),
      var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link::before {
  content: "";
  background: linear-gradient(var(--primary-color), var(--primary-color-alt));
  width: 100%;
  height: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms;
}

.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-toggle {
  display: none;
}

.bx-menu,
.bx-x {
  cursor: pointer;
  background: -webkit-linear-gradient(120deg,
      var(--primary-color-alt),
      var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none !important;
}

/* ================= MAIN ================ */

/* -------- HOME SECTION -------------- */
.section-1 {
  background-color: var(--dark-color);
  display: grid;
}

/* .home-computer-container {} */

.slogan .company-title {
  background: -webkit-linear-gradient(120deg,
      var(--primary-color-alt),
      var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.slogan .company-slogan {
  background: -webkit-linear-gradient(120deg,
      var(--primary-color-alt),
      var(--primary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}

/* Add this CSS to your existing styles.css or in a <style> tag in your HTML */

/* Testimonial Section */
.testimonials-section {

  padding: 10px 0;
  display: flex;
  justify-content: center;
  /* Adjust as needed to control the spacing between cards */
  align-items: center;
  margin: 10px 0;
  /* Adjust margin as needed */
}

.card_sec {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  opacity: 1;
}

.testimonial-card {
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  /* Card background color */
  /* border: 5px solid rgba(84, 58, 183, 1); */
  /* Card border */
  color: #fff;
  padding: 34px;
  margin-top: 300px;
  width: 25%;
  /* Adjust the width of each card */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Add a shadow for depth */
}

.testimonial-avatar img {
  max-width: 100px;
  max-height: 100px;
  /* Adjust the max width of the avatar image */
  border-radius: 50%;
  /* Rounded avatar image */
}

.testimonial-text {
  margin-top: 40px;
  /* Adjust spacing between avatar and text */
  color: #fff;
  color: floralwhite;
}

.testimonial-author {
  font-weight: bold;
}

/* End Testimonial Section */

.text {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  /* Handwriting-style font */
  text-align: center;
  /* Center align text */
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  -webkit-background-clip: text;
  /* Clip text to the background gradient */
  color: transparent;
  /* Make text color transparent */
  -webkit-text-fill-color: transparent;
  /* Webkit for text fill color */
}

.overlay {
  padding: 50px;
  width: 1000px;
  border: 1px solid hwb(252 23% 28%);
  margin: 80px;
}


.site-footer {
  background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  padding: 50;
  margin-top: 200px;
  font-size: 15px;
  line-height: 24px;
  color: #fbf8f8;
}

.site-footer hr {
  border-top-color: #fffefe;
  opacity: 0.5
}

.site-footer hr.small {
  margin: 20px 0
}

.about p {
  color: #eceeef;
}

.site-footer h6 {

  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px
}

.site-footer a {
  color: #fbf4f4;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #f9f5f5
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #f3f5f9
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #ecf1f7;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #eef2f5;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.facebook:hover {
  background-color: #3b5998
}

.social-icons a.twitter:hover {
  background-color: #00aced
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

.social-icons a.dribbble:hover {
  background-color: #ea4c89
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}